:root {
    --font-family-one: 'Open Sans', sans-serif;
    --font-family-two: 'Montserrat', sans-serif;
}

body {
    margin: 0;
    font-family: var(--font-family-one);
}

header {
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

.container {
    display: flex;
    gap: 10px;
    margin: 10px;
    height: 600px;
}

.left, .right {
    width: 400px;
    background-color: #228B22;
    padding: 20px;
} 

.middle {
    width: 1000px;
    background-color: #FFF273;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: teal;
    text-align: center;
    padding: 10px;
    margin: 10px;
}

button {
    margin-top: 10px;
}

header h1 {
    font-family: var(--font-family-two);
}

h2 {
    font-family: var(--font-family-two);
}
